img.yabaiButton {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.ui-icon-twitter {
     background: url(http://twitter.com/favicon.ico) no-repeat 0 50%;
}

.ui-content {
    background-position:center center;
    background-size: contain;
}

.yabaiButton {
  width: 485px;
  height: 509px;
  background-image: url('../img/button/YABAI.jpg');
  -webkit-background-size: 485px 509px;
}

.yabaiButton.orera {
  background-image: url('../img/button/YABAI_hit.jpg');
}

.yabaiButton.ore {
  background-image: url('../img/button/YABAI_on.jpg') !important;
}


